.video{
    margin-left: 630px;
}
.um{
    height: 300px;
    width: 230px;
    border-radius: 7px;
}
.dois{
    height: 300px;
    border-radius: 7px;
}
.tres{
    height: 300px;
    border-radius: 7px;
}
.imagens{
    text-align: center;
}